{% extends 'base.html.twig' %}
{% block menu %}
    {% include 'formateurretenu/inc/sidebare.html.twig' %}
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Formations
            <small>Elaboration du plan de Formation</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-edit"></i>Formations</a></li>
            <li class="active">Elaboration du plan de Formation</li>
        </ol>
    </section>
{% endblock %}
{% block body %}
<section class="content">
<div class="text-center">
    <h1>Modification Du Formateur Retenu</h1>
</div>
<div class="text-right">
    <a title="Retour à la liste des Appels d'Offres" href="{{ path('offreformation_show', { 'id': offreformation.idoff }) 
                }}" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" class="btn btn-primary" style="margin-top:10px;"/>
    {{ form_end(edit_form) }}
           
        
</section>
{% endblock %}
