{% extends 'base.html.twig' %}
{% block menu %}
    {% include 'formation/inc/sidebar.html.twig' %}
{% endblock %}
 {% block content %}
    <section class="content-header">
        <h1>
            Formations
            <small>Elaboration du plan de Formation</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-edit"></i>Formations</a></li>
            <li class="active">Suivie Statistique</li>
        </ol>
    </section>
{% endblock %}
{% block body %}
<section class="content">
   
          <!-- DONUT CHART -->
	<div class="row">
		<div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Donut Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
				
				
             <script>
			  
window.onload = function () {
	
var totalVisitors = 5;
var visitorsData = {
	"New vs Returning Visitors": [{
		//click: visitorsChartDrilldownHandler,
		cursor: "pointer",
		explodeOnClick: false,
		innerRadius: "75%",
		legendMarkerType: "square",
		name: "New vs Returning Visitors",
		radius: "100%",
		showInLegend: true,
		startAngle: 90,
		type: "doughnut",
		
		dataPoints:
			[
			{% for formation in formations %}	
			
			{ y:  {{ formation.nbrfor }} , name:"{{ formation.nomtypeformation }}"  },
		
			{% endfor %}
		 	

		]
	}],

};

var newVSReturningVisitorsOptions = {
	animationEnabled: true,
	theme: "light2",
	title: {
		text: "Les Types de Formations"
	},
	subtitles: [{
		//text: "Cliquez sur n'importe quel segment à explorer",
		backgroundColor: "#2eacd1",
		fontSize: 16,
		fontColor: "white",
		padding: 5
	}],
	legend: {
		fontFamily: "calibri",
		fontSize: 14,
		itemTextFormatter: function (e) {
			return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";  
		}
	},
	data: []
};

var visitorsDrilldownedChartOptions = {
	animationEnabled: true,
	theme: "light2",
	axisX: {
		labelFontColor: "#717171",
		lineColor: "#a2a2a2",
		tickColor: "#a2a2a2"
	},
	axisY: {
		gridThickness: 0,
		includeZero: false,
		labelFontColor: "#717171",
		lineColor: "#a2a2a2",
		tickColor: "#a2a2a2",
		lineThickness: 1
	},
	data: []
};

var chart = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
chart.options.data = visitorsData["New vs Returning Visitors"];
chart.render();

function visitorsChartDrilldownHandler(e) {
	chart = new CanvasJS.Chart("chartContainer", visitorsDrilldownedChartOptions);
	chart.options.data = visitorsData[e.dataPoint.name];
	chart.options.title = { text: e.dataPoint.name }
	chart.render();
	$("#backButton").toggleClass("invisible");
}

$("#backButton").click(function() { 
	$(this).toggleClass("invisible");
	chart = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
	chart.options.data = visitorsData["New vs Returning Visitors"];
	chart.render();
});

}
</script>

<style>
  #backButton {
	border-radius: 4px;
	padding: 8px;
	border: none;
	font-size: 16px;
	background-color: #2eacd1;
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
  }
  .invisible {
    display: none;
  }
</style>


<div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
<button class="btn invisible" id="backButton">< Back</button>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

            </div>
            <!-- /.box-body -->
          </div>
		  	
	</div>
	

		<div class="col-md-6">
          	<div class="box box-primary">
            	<div class="box-header with-border">
					<h3 class="box-title">Pie Chart</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
            </div>
				<div class="box-body">
				<canvas id="myChart" width="400" height="250"></canvas>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'pie',

    // The data for our dataset
		
    data: {
			
        labels: [
			{% for etatformation in etatformations %}
			"{{ etatformation.nometatformation }}",
			{% endfor %}],
		
        datasets: [{
            label: "My First dataset",
         	backgroundColor: ["#3e95cd","#8e5ea2","#e85ea2"],
            			
            data: [{% for etatformation in etatformations %}	
				{{ etatformation.nbretat }},
				{% endfor %}
				],
			
			
			
        }]
		
    },
	
    // Configuration options go here
    options: {}
});
</script>

			
				</div>
		</div>
</div>

</section>


{% endblock %}
