{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="nav navbar-nav">
                                <li><a href="#">Organisation & Répartition Ressources</a></li>

                                <li><a href="#">Outils de Pilotage RH</a></li>

                                <li><a href="#">Annuaires d'Entreprise</a></li>

                                <li class="active"><a href="#">Temps & Activité</a></li>

                                <li><a href="#">Documentaire RH</a></li>

                                <li><a href="#">Sécurisation Des Accés</a></li>

                            </ul>
                        </div>
                    </div><!--/.row-->
                </div>
            </div>
        </nav>
    </div>
{% endblock %}
