<html>
<meta charset="UTF-8"/>
    <body>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Paramétrage Evaluation</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <h4><a href="{{ path('type_evaluation') }}">Type Evaluation</a></h4>
                            </div>
                            <div class="col-xs-3">
                                <h4><a href="{{ path("parametrage_employe_metier") }}" >Ajouter Métier</a></h4>
                            </div>
                            <div class="col-xs-3">
                                <h4>
                                    <a href="{{ path('parametrage_employe_fonction') }}">Ajouter Fonction</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>